<div class="register-container">
    <div class="register-header">Login</div>
    <form >
      <div class="form-input-container">
        <input type="text" placeholder="Enter your name">
      </div>
      <div class="form-input-container">
        <input type="text" placeholder="Enter your email-id">
      </div>
      <div class="form-input-container">
        <input type="password" placeholder="Enter your password">
      </div>
      <div class="form-btn-container">
        <button>Signup</button>
      </div>
    </form>
  </div>